{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{lib_dirs, ["deps", "apps"]}.
{erl_opts, [debug_info,
            warnings_as_errors,
            %% warn_untyped_record, %% Webmachine has many of these
            {parse_transform, lager_transform}]}.
{xref_checks, [undefined_function_calls]}.
{xref_queries, [{"(XC - UC) || (XU - X - B)", []}]}.
{reset_after_eunit, true}.
{eunit_opts, [verbose]}.
{ct_log_dir, "ct_log"}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.3"}}},
        {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git",  "7a5835029c42b8138325405237ea7e8516a84800"}},
        {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", {tag, "1.10.8"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney", {tag, "1.6.0"}}},
        {erl_mesos, ".*", {git, "https://github.com/basho-labs/mesos-erlang", {tag, "v1.0.0"}}},
        {riak_mesos_md_mgr, ".*", {git, "https://github.com/basho-labs/riak-mesos-metadata-manager", {tag, "0.1.0"}}},
        {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.0"}}},
        {riak_explorer, ".*", {git, "git://github.com/basho-labs/riak_explorer", {tag, "1.2.3"}}}
       ]}.

{plugins, [rebar_lock_deps_plugin]}.
