{sub_dirs, ["rel"]}.
{lib_dirs, ["deps", "apps"]}.
{erl_opts, [debug_info,
            warnings_as_errors,
            %% warn_untyped_record, %% Webmachine has many of these
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{deps, [
        {node_package, ".*", {git, "git://github.com/basho/node_package", {tag, "2.0.1"}}},
        {clique, "0.3.*", {git, "git://github.com/basho/clique.git", {tag, "0.3.5"}}},
        {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", {tag, "1.10.8"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.3"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish", {tag, "2.0.1"}}},
        {erl_mesos, ".*", {git, "git@github.com:basho-labs/mesos-scheduler-bindings", {tag, "v0.26.0"}}},
        {riak_mesos_md_mgr, ".*", {git, "git@github.com:basho-labs/riak-mesos-metadata-manager", {branch, "master"}}}
       ]}.
